.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .all {
        display: flex;
        flex-direction: row;
        padding: 20px;
      column-gap: 100px;
  }
  body,html,* {
    font-size: 62.5%; 
  }
  select{
    font-size: 20px;
  }
  option {
    font-size: 20px;
  }
  button{
    font-size: 14px;
  }
  :root {
    --light:  #ffffff;
    --dark:  #1b1a1a;
    --primary:var(--dark);
    --h1:  7.592rem;
    --h2:  5.063rem;
    --h3:  3.375rem;
    --h4:  2.24rem;
    --h5:  1.5rem;
}

  h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h1,h2,h3,h4,h5 {

}

