.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #272727;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #acafae; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .all{
    display: flex;
    flex-direction: row;
  }
.custom {
padding-left: 5rem;
  margin: 2rem;
}
#custom {
  font-weight: 500;
}
#buttontype {
  font-size: 2.5rem;
}
#buttonpart{
  font-size: 2.5rem;
}
.response {
  padding-left: 30rem;
 
  margin: 2rem;
}
#customize {
  animation: fadeEffect 1s; 
}
.card{
  width: 1000px;
  animation: fadeEffect 1s;
}
#error {
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
#new {

  left:0px;
  top: 500px;
  width: 150px;
  border-radius: 6px;
}
#activity{
  text-align: left;
  left: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
 
}
#flexselect{
  display: flex;
}
#submittype {
  height: 4rem;
  font-size: 2rem;
  border-radius: 4px;
  border-width: 1px;

}
#type{

}
#participant{

  left: 0px;
  top:35rem;
  width: 50rem;
}
  body,html,* {
    font-size: 62.5%;   
  }
  select{
    font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
  }
  option {
    font-size: 2.5rem;
  }
 
  button{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
  } 
  #new:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
  }
  :root {
    --light:  #ffffff;
    --dark:  #1b1a1a;
    --primary:var(--dark);
    --h1:  7.592rem;
    --h2:  5.063rem;
    --h3:  3.375rem;
    --h4:  2.24rem;
    --h5:  1.5rem;
}

  h1 {
    font-size: var(--h1);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
h2 {
    font-size: var(--h2);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: var(--h3);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}
h4 {
    font-size: var(--h4);
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}
h5 {
    font-size: var(--h5);
}
h1,h2,h3,h4,h5 {
}


@media screen and (max-width: 390px) {
  h1{
    font-size: 5.5rem;
    font-weight: 500;
  }
.all{
  display: flex;
  flex-direction: column;

}
.custom{
  padding:0rem;
}
#custom{
  font-size: 4.5rem;
  font-weight: 500;
}
#inputtype{
  height: 3.5rem;
  font-size: 2.5rem;
}
option{
  font-size: 1.8rem;
}
#submittype{
  height: 3.5rem;
}
.response{
  padding-left: 0rem;
}
.card{
  width:33rem
}
h2{
  font-size: 4rem;
}
#participant{
  width: 33rem;
}
}